@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: rgb(255, 255, 255);
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}